%p#notice= notice

%p
  %b Title:
  = @feed.title
%p
  %b Url:
  = @feed.url
%p
  %b Feed url:
  = @feed.feed_url
%p
  %b Etag:
  = @feed.etag
%p
  %b Last modified:
  = @feed.last_modified

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
